
	<div class="row">
        <div class="col-sm-12">
        	Create your beacon <br />
         	Name <input type="text" id="name" /> <br />
			Description <input type="text" id="description" />
        </div><!-- /.col-sm-4 -->
    </div>
	
