<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<style>
html, body, #map-canvas {
    height: 800px;
    margin: 0px;
    padding: 0px
}
</style>
<script>
google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class="row">
	<div class="col-sm-12">
    	<%= link_to("Beacon", static_pages_beacon_path) %>
    
    <div>
    	<div id="map-canvas"></div>
    </div>
    
    <div id="chat"></div>
    </div><!-- /.col-sm-4 -->
</div>
	