<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<style>
html, body, #map-canvas {
    height: 800px;
    margin: 0px;
    padding: 0px
}
</style>
<script>
function initialize() {
    var myLatlng = new google.maps.LatLng(-28.363882,-131.044922);
    var mapOptions = {
zoom: 4,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var sampleLatLong = [['7.86031877', '39.81935319'], ['1.84691275', '-111.58996009'], ['34.01257398', '1.72659234'], ['-17.47547016', '19.77515979'], ['1.71210013', '-177.11291204'], ['41.15213121', '-168.85202595'], ['21.83475018', '-33.26717111'], ['-29.12041748', '-10.17708521'], ['2.47133637', '94.01706029'], ['44.48996264', '143.03173651'], ['-31.89397752', '149.46615871'], ['-28.13054545', '-61.86803933'], ['1.42537381', '-26.34834498'], ['31.27927883', '8.39556014'], ['54.31577821', '-45.17456093'], ['-40.31520315', '-52.63845233'], ['33.04040823', '-7.51488665'], ['5.33293845', '34.06620763'], ['-54.38479821', '-118.43043001'], ['11.05580157', '67.9898784'], ['-11.27375041', '-139.8567679'], ['25.00177535', '-4.76708371'], ['27.66895395', '-121.73285183'], ['16.63907493', '144.2856704'], ['-6.08672441', '15.37433306'], ['81.85738421', '44.18278053'], ['20.20447124', '153.41103279'], ['39.02828897', '-77.85237679'], ['61.64257024', '-123.38839279'], ['-19.54002706', '-41.59497941'], ['-29.7165399', '-44.72256881'], ['83.80253622', '90.33442947'], ['-41.15200361', '-150.42450076'], ['-28.75877311', '150.4196504'], ['-43.02110989', '-113.45195026'], ['45.38155483', '-139.22981394'], ['-9.83815991', '157.57505466'], ['25.93703332', '160.80884563'], ['30.25852148', '96.64232383'], ['-19.65667665', '100.73916625'], ['15.72410221', '167.09779956'], ['15.48976024', '-79.01729881'], ['33.88808244', '-67.43074528'], ['1.17665824', '118.60663338'], ['23.48700035', '70.17714844'], ['-11.19088562', '-101.55920489'], ['-32.81127593', '103.89076905'], ['-32.20454149', '51.49978059'], ['41.24425886', '33.92370396'], ['13.89583956', '-147.16387974']]

        var marker = new google.maps.Marker({
animation:google.maps.Animation.BOUNCE,
position: myLatlng,
map: map,
title: '',
icon: 'icons/fire.png',
});

var LatLngArray  = new Array(sampleLatLong.length);

for (var i=0; i < sampleLatLong.length ; i++)
{
    LatLngArray[i] = new google.maps.LatLng(sampleLatLong[i][0],sampleLatLong[i][1]);

    var marker = new google.maps.Marker({
position: LatLngArray[i],
animation:google.maps.Animation.BOUNCE,
map: map,
title: '',
icon: 'icons/fire.png',
});

}
}

google.maps.event.addDomListener(window, 'load', initialize);

</script>

<div class="row">
	<div class="col-sm-12">
    	<%= link_to("Beacon", static_pages_beacon_path) %>
    
    <div>
    	<div id="map-canvas"></div>
    </div>
    
    <div id="chat"></div>
    </div><!-- /.col-sm-4 -->
</div>
	